---
import type { CollectionEntry } from "astro:content";
import IconChip from "../common/IconChip.astro";
import TagItem from "../common/TagItem.astro";
import PageHeaderCard from "./PageHeaderCard.astro";

const STATIC_HASH_ICON = "i-lucide:hash"; // Workaround for "failed to load icon"

interface Props {
  category: CollectionEntry<"categories">;
  articleCount: number;
  topTags: { name: string; count: number }[];
}

const { category, articleCount, topTags } = Astro.props;
---
<PageHeaderCard>
  <h1 text="2xl" font="bold">{category.data.name}</h1>
  <p text="fg-muted" mt="1">
    <span font="medium">{articleCount}</span> 記事
  </p>

  {topTags.length > 0 && (
    <div flex items="center" mt="4">
      <IconChip class="text-fg-muted" icon={STATIC_HASH_ICON} applyGap={false}>
        <div flex flex-wrap items="center" gap="4" ml="2">
          {topTags.filter((_, i) => i < 5).map(({ name, count }, i, filteredTags) => (
            <>
              <TagItem>
                {name}
                {count > 1 && (
                  <span text="xs fg-muted" ml="1">({count})</span>
                )}
              </TagItem>
              {filteredTags.length > 5 && i === 4 && (
                <span text="xs fg-muted" ml="1">他{filteredTags.length - 5}件</span>
              )}
            </>
          ))}
        </div>
      </IconChip>
    </div>
  )}
</PageHeaderCard>

<style>
  h1 {
    font-kerning: normal;
    font-variant-east-asian: proportional-width;
    text-wrap: balance;
  }
</style>
