---
import { getImage } from "astro:assets";
import { getCollection } from "astro:content";
import type { MarkdownHeading } from "astro";
import WyceyLogo from "@/assets/images/wycey-full.svg";
import { ThemeSwitcher } from "@/components/solid/ThemeSwitcher.client";
import { getSortedArticles } from "@/lib/content";
import { getAvatarUrl } from "@/lib/content/avatar";
import type { BreadcrumbEntry } from "../react/MainBreadcrumbs.client";
import { MainBreadcrumbs } from "../react/MainBreadcrumbs.client";

interface Props {
  breadcrumbs?: BreadcrumbEntry[];
  headings?: MarkdownHeading[];
}

const { breadcrumbs = [], headings = [] } = Astro.props;

const currentPath = Astro.url.pathname;

const allAuthors = await getCollection("authors");
const allCategories = await getCollection("categories");
const allArticles = await getSortedArticles();

const authors = await Promise.all(
  allAuthors.map(async (a) => {
    const avatar = await getImage({
      src: await getAvatarUrl(a.data.name,  a.data.avatar),
      width: 32,
      height: 32,
    });

    return {
      id: a.id,
      name: a.data.name,
      avatar: avatar.src,
    };
  }),
);

const categories = allCategories.map((c) => ({
  id: c.id,
  name: c.data.name,
  articleCount: allArticles.filter((a) => a.data.category.id === c.id).length,
}));
---
<header
  w="full"
  px="4"
  py="3"
  flex
  flex-wrap
  items="center"
  justify="between"
  gap="y-4"
  text="fg-muted/75%"
  class="min-h-32 md:min-h-20 content-center"
>
  <!--
  <a href="https://wycey.dev" aria-label="Wycey メインページへ" text="fg" class="md:hidden">
    <WyceyLogo class="h-7 w-auto px-2" />
  </a>
  -->
  <WyceyLogo class="text-fg md:hidden h-7 w-auto px-2" />
  <ul
    flex
    items="center"
    gap="4"
    class="md:order-1"
  >
    <li print="hidden">
      <ThemeSwitcher client:only="solid-js">
        <section slot="fallback" flex items="center" aria-hidden="true" invisible>
          <button type="button" text="lg" p="2.5">
            <span block class="i-lucide:sun" />
          </button>
          <button type="button" text="lg" p="2.5">
            <span block class="i-lucide:monitor" />
          </button>
        </section>
      </ThemeSwitcher>
    </li>
  </ul>
  <div class="breadcrumb-wrap w-full md:w-auto md:order-0 pl-2 md:pl-0">
    <MainBreadcrumbs
      client:idle
      {breadcrumbs}
      {headings}
      {currentPath}
      {authors}
      {categories}
    >
      <WyceyLogo class="h-7 w-full px-2" />
    </MainBreadcrumbs>
  </div>
</header>

<style is:global>
  @screen lt-md {
    .breadcrumb-wrap [data-slot="breadcrumb-list"] > :first-child,
    .breadcrumb-wrap [data-slot="breadcrumb-list"] > :nth-child(2) {
      display: none;
    }
  }
</style>
