---
import { getCollection } from "astro:content";
import type { GetStaticPaths } from "astro";
import ArticleTimeline from "@/components/ArticleTimeline.astro";
import AuthorCard from "@/components/content/AuthorCard.astro";
import RootLayout from "@/layouts/RootLayout.astro";
import { getSortedArticles } from "@/lib/content";
import { createAuthorArticlesSchema } from "@/lib/content/json-ld";
export const getStaticPaths = (async () => {
  const authors = await getCollection("authors");

  return authors.map(author => ({
    params: {
      handle: author.id,
    },
    props: { author },
  }))
}) satisfies GetStaticPaths;

const { author } = Astro.props;
const articles = await getSortedArticles({ sortPinned: false, filterPredicate: article => article.data.author.id === author.id })
---
<RootLayout
  title={`${author.data.name} (@${author.id})`}
  description={`${author.data.name}さんが執筆した記事の一覧です。`}
  jsonLd={await createAuthorArticlesSchema(author, articles)}
>
  <section flex-auto class="brand-container">
    <AuthorCard author={author} articleCount={articles.length} />
    <ArticleTimeline {articles} />
  </section>
</RootLayout>
