---
export const prerender = false;


import RootLayout from "../layouts/RootLayout.astro";
import { For } from "@astropub/flow";
import { getArticleList } from "../resources/content";

const articles = await getArticleList();
---
<RootLayout title="Home" url={Astro.url.href}>
  <Fragment slot="head">
    <meta property="og:type" content="website" />
  </Fragment>

  <section>
    <h2>Wycey blog</h2>
    <p>Wycey blog is a blog about web development, programming, and other things.</p>

    <section>
      <h3>Recent posts</h3>
      <ul>
        <For of={articles}>
          {(article) => (
            <li>
              <article>
                <a href={`articles/${article.category.id}/${article.id}`}>{article.title}</a>
              </article>
            </li>
          )}
        </For>
      </ul>
    </section>
  </section>
</RootLayout>
