---
import { getCollection } from "astro:content";
import ArticleTimeline from "@/components/ArticleTimeline.astro";
import ArchiveCard from "@/components/content/ArchiveCard.astro";
import RootLayout from "@/layouts/RootLayout.astro";
import { getSortedArticles } from "@/lib/content";
import { createArchiveArticlesSchema } from "@/lib/content/json-ld";

const articles = await getSortedArticles({ sortPinned: false });
const categories = await getCollection("categories");
const allTags = new Set(articles.flatMap(a => a.data.tags));
---
<RootLayout
  title="アーカイブ"
  jsonLd={createArchiveArticlesSchema(articles)}
>
  <section flex-auto class="brand-container">
    <ArchiveCard
      articleCount={articles.length}
      categoryCount={categories.length}
      tagCount={allTags.size}
    />
    <ArticleTimeline {articles} />
  </section>
</RootLayout>
