---
import { GA_MEASUREMENT_ID } from "astro:env/client";
import { SEO } from "astro-seo";
import type { Graph, Thing } from "schema-dts";
import Footer from "@/components/layout/Footer.astro";
import Header from "@/components/layout/Header.astro";
import GoogleAnalytics from "@/components/scripts/GoogleAnalytics.astro";
import { ColorSchemeWatcher } from "@/components/solid/ColorSchemeWatcher.client";
import ThemeScript from "@/components/ThemeScript.astro";
import { SITE_DESCRIPTION, SITE_NAME } from "@/lib/constants";
import { createWebSiteSchema } from "@/lib/content/json-ld";

import "@/styles/global.css";

type OgArticle = NonNullable<Parameters<typeof SEO>[0]["openGraph"]>["article"];
type Twitter = Parameters<typeof SEO>[0]["twitter"];

type InnerProps = {
  title?: string;
  description?: string;
  breadcrumbs?: {
    name: string;
    href: string;
  }[];
  headings?: {
    depth: number;
    slug: string;
    text: string;
  }[];
  ogType?: string;
  ogImage?: string;
  ogArticle?: OgArticle;
  twitter?: Twitter;
  jsonLd?: Thing | readonly Thing[];
};

type Props = InnerProps & {
  frontmatter?: InnerProps;
};

const {
  title,
  description,
  breadcrumbs = [],
  headings = [],
  ogType,
  ogImage: maybeOgImage,
  ogArticle,
  twitter,
  jsonLd: maybeJsonLd,
} = Astro.props.frontmatter || Astro.props;

const ogImage = maybeOgImage ? new URL(maybeOgImage, Astro.site).href : new URL("/og/default.png", Astro.site).href;

const jsonLd = {
  "@context": "https://schema.org",
  "@graph": maybeJsonLd ? [maybeJsonLd].flat() : [createWebSiteSchema()],
} satisfies Graph;
---
<html lang="ja" bg="bg" style={{ "overflow-x": "hidden" }}>
<head prefix={`og: https://ogp.me/ns# article: https://ogp.me/ns/article#`}>
  <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
  <link rel="sitemap" href="/siemap-index.xml" />
  <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=yes" />

  <meta name="generator" content={Astro.generator} />

  {GA_MEASUREMENT_ID && <GoogleAnalytics tag={GA_MEASUREMENT_ID} />}

  <SEO
    {...(title ? { title } : {})}
    titleDefault={SITE_NAME}
    titleTemplate={`%s · ${SITE_NAME}`}
    description={SITE_DESCRIPTION}
    charset="UTF-8"
    removeTrailingSlashForRoot={true}
    openGraph={{
      basic: {
        title: title ?? "ホーム",
        type: ogType ?? "website",
        image: ogImage,
      },
      optional: {
        siteName: SITE_NAME,
        locale: "ja_JP",
        ...(description ? { description } : {}),
      },
      image: {
        width: 1200,
        height: 630,
        alt: `タイトル「${title}」のページを示す ${SITE_NAME} の OGP 画像`,
      },
      ...(ogArticle ? { article: ogArticle } : {}),
    }}
    twitter={{
      card: "summary_large_image",
      ...twitter
    }}
  />

  <link rel="alternate" type="application/rss+xml" title={SITE_NAME} href={new URL("rss.xml", Astro.site)} />
  <script type="application/ld+json" is:inline set:html={JSON.stringify(jsonLd)} />
  
  <ThemeScript />

  <slot name="head" />
</head>
<body flex flex-col>
  <Header breadcrumbs={breadcrumbs} headings={headings} />

  <main flex-auto flex flex-col>
    <slot />
  </main>

  <ColorSchemeWatcher client:load />
  <Footer />
</body>
</html>
