---
import { SEO } from "astro-seo";
import type { Graph, Thing } from "schema-dts";
import Footer from "@/components/layout/Footer.astro";
import Header from "@/components/layout/Header.astro";
import ThemeScript from "@/components/scripts/ThemeScript.astro";
import { ColorSchemeWatcher } from "@/components/solid/ColorSchemeWatcher.client";
import { RadixPointerEventFix } from "@/components/solid/RadixPointerEventFix.client";
import { SentryUserResolver } from "@/components/solid/SentryUserResolver.client";
import { SITE_DESCRIPTION, SITE_NAME } from "@/lib/constants";
import { createWebSiteSchema } from "@/lib/content/json-ld";

import "@/styles/global.css";

type OgArticle = NonNullable<Parameters<typeof SEO>[0]["openGraph"]>["article"];
type Twitter = Parameters<typeof SEO>[0]["twitter"];

type InnerProps = {
  title?: string;
  description?: string;
  breadcrumbs?: {
    name: string;
    href: string;
  }[];
  headings?: {
    depth: number;
    slug: string;
    text: string;
  }[];
  ogType?: string;
  ogImage?: string;
  ogArticle?: OgArticle;
  twitter?: Twitter;
  jsonLd?: Thing | readonly Thing[];
};

type Props = InnerProps & {
  frontmatter?: InnerProps;
};

const {
  title,
  description,
  breadcrumbs = [],
  headings = [],
  ogType,
  ogImage: maybeOgImage,
  ogArticle,
  twitter,
  jsonLd: maybeJsonLd,
} = Astro.props.frontmatter || Astro.props;

const ogImage = maybeOgImage ? new URL(maybeOgImage, Astro.site).href : new URL("/assets/og/default.png", Astro.site).href;

const jsonLd = {
  "@context": "https://schema.org",
  "@graph": maybeJsonLd ? [maybeJsonLd].flat() : [createWebSiteSchema()],
} satisfies Graph;
---
<html lang="ja" bg="bg" text="fg">
<head prefix={`og: https://ogp.me/ns# article: https://ogp.me/ns/article#`}>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=yes" />
  <meta name="text-scale" content="scale" />

  <link rel="icon" href="/favicon.ico" sizes="32x32" />
  <link rel="icon" href="/icon.svg" type="image/svg+xml" />
  <link rel="apple-touch-icon" href="/apple-touch-icon.png" />
  <link rel="sitemap" href="/sitemap-index.xml" />

  <meta name="generator" content={Astro.generator} />

  <SEO
    {...(title && { title })}
    titleDefault={SITE_NAME}
    titleTemplate={`%s · ${SITE_NAME}`}
    description={SITE_DESCRIPTION}
    removeTrailingSlashForRoot={true}
    openGraph={{
      basic: {
        title: title ?? "ホーム",
        type: ogType ?? "website",
        image: ogImage,
      },
      optional: {
        siteName: SITE_NAME,
        locale: "ja_JP",
        ...(description && { description }),
      },
      image: {
        width: 1200,
        height: 630,
        alt: title
          ?`タイトル「${title}」のページを示す ${SITE_NAME} の OGP 画像`
          : `${SITE_NAME} の OGP 画像`,
      },
      ...(ogArticle && { article: ogArticle }),
    }}
    twitter={{
      card: "summary_large_image",
      ...twitter
    }}
  />

  <link rel="alternate" type="application/rss+xml" title={SITE_NAME} href={new URL("/rss.xml", Astro.site)} />
  <script type="application/ld+json" is:inline set:html={JSON.stringify(jsonLd)} />
  
  <ThemeScript />

  <slot name="head" />
</head>
<body flex flex-col min-block="100dvb" focus-within="scroll-smooth">
  <Header breadcrumbs={breadcrumbs} headings={headings} />

  <main flex-auto flex flex-col>
    <slot />
  </main>

  <ColorSchemeWatcher client:load />
  <RadixPointerEventFix client:load />

  <SentryUserResolver client:idle />

  <Footer />
</body>
</html>

<style>
  html {
    line-height: 1.5;
    scroll-behavior: smooth;
    color-scheme: light dark;

    &[data-theme="light"] {
      color-scheme: light;
    }

    &[data-theme="dark"] {
      color-scheme: dark;
    }
    
    @media (prefers-reduced-motion: reduce) {
      scroll-behavior: auto;
    }
  }
</style>
